/* -------------------------------------------------------------------------- */
/*                                    RESET                                   */
/* -------------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                    ESTILOS COMUNES A TODOS LOS ARCHIVOS                    */
/* -------------------------------------------------------------------------- */
main {
	/*Revisar imagen de fondo. Se puede generar como vector? */
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 5vh 10vh 55vh 5vh;
	gap: 0px 0px;
	grid-template-areas:
		"nav nav nav nav nav nav nav"
		"up up up up up up up"
		"main main main main main main main"
		"down down down down down down down";
	justify-items: center;
	background-image: url(../images/fondo.png);
	background-size: 100vw;
	height: 80vh;
}

section {
	grid-area: main;
	grid-column: 2 / span 5;
	justify-items: center;
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	background-color: lightgray;
	border-radius: 1rem;
}

section article {
	width: 90%;
	height: auto;
	padding: 2em;
}

footer {
	background-color: gray;
	text-align: center;
	height: 20vh;
}

/* ------------------------------- NAVEGACION ------------------------------- */
.logo {
	height: 4vh;
}

.navegacion {
	grid-area: nav;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5vh;
	background-image: linear-gradient(to left, #33383b, black);
	padding: 1rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-evenly;
	width: 50%;
}

li {
	display: inline-block;
	position: relative;
	font-size: 18px;
}

li:hover{
	position: relative;
	transform: scale(1.5) skewY(-5deg);
}

li a {
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	text-decoration: none;
}

li a:hover {
	color: yellow;
}

.activo {
	color: orange;
}

/* ---------------------------------- TEXTO --------------------------------- */
h1 {
	grid-area: up;
	align-self: center;
	font-size: 2.5vw;
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	text-align: center;
}

h2 {
	font-size: 1.5vw;
	color: black;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	text-align: center;
}

h4 {
	font-size: 1rem;
	color: black;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	text-align: center;
}

p {
	font-size: 0.8vw;
	color: black;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	text-align: justify;
}

/* -------------------------------------------------------------------------- */
/*                            ESTILOS PARA "INICIO"                           */
/* -------------------------------------------------------------------------- */
.seccionInicio {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	width: 70vw;
	height: 64vh;
	/* Sin márgenes para acomodar el carousel */
	margin: 0;
	padding: 0;
}

.seccionInicio .izquierdo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.seccionInicio .derecho {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

@keyframes furgon{
	0% {left: 100%; scale: 10%;}
	100% {left: 0%; scale: 100%;}
}

.animacionFurgon{
	position: relative;
	animation-name: furgon;
	animation-duration: 2s;
}

@keyframes llamada{
	0% {transform: scaleX(0%);}
	100% {transform: scaleX(100%);}
}

.llamada{
	position: relative;
	animation-name: llamada;
	animation-duration: 2s;
}

.derecho p {
	text-align: center;
}

/* Estilos para texto de carousel */
.carousel-caption h2{
	color: white;
	text-shadow: 3px 3px 4px black;
}

.carousel-caption h3{
	color: white;
	text-shadow: 3px 3px 4px black;
}

.up {
    position: absolute; 
	top: 2rem;
}


/* -------------------------------------------------------------------------- */
/*                           ESTILOS PARA "NOSOTROS"                          */
/* -------------------------------------------------------------------------- */
.seccionNosotros {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	justify-content: center;
	align-items: flex-start;
	width: 70vw;
	height: 64vh;
	overflow: hidden;
}

.seccionNosotros .izquierdo {
	display: grid;
	grid-template-columns: 35% 35% 30%;
	grid-template-rows: repeat(3, auto);
	padding: 1rem;
	width: 80%;
	gap: 10px;
	margin: 0;
}

.imagenUno {
	width: 100%;
	height: 100%;
	grid-column: 1;
	grid-row: 1 / 4;
}

.imagenDos{
	width: 100%;
	height: 100%;
	grid-column: 2;
	grid-row: 1;
}

.imagenTres {
	width: 100%;
	height: 100%;
	grid-column: 2;
	grid-row: 2;
}

.imagenCuatro {
	width: 100%;
	height: 100%;
	grid-column: 2;
	grid-row: 3;
}

.imagenCinco {
	width: 100%;
	height: 100%;
	grid-column: 3;
	grid-row: 1 / 3;
}

.imagenSeis {
	width: 100%;
	height: 100%;
	grid-column: 3;
	grid-row: 3;
}

.imagen:hover{
	transform: skewY(-5deg) scale(0.8);
}

.seccionNosotros p {
	margin-bottom: 2rem;
}

.seccionNosotros .derecho {
	display: flex;
	width: 30%;
	flex-direction: column;
	align-items: flex-start;
}

/* -------------------------------------------------------------------------- */
/*                          ESTILOS PARA "SERVICIOS"                          */
/* -------------------------------------------------------------------------- */
.seccionServicios {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	width: 70vw;
	height: 64vh;
}

.seccionServicios .izquierdo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.seccionServicios p {
	font-style: italic;
}

.seccionServicios .derecho {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0.5vw;
}

th {
	background-color: orange;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 1vw;
}

td {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 0.8vw;
}

.video {
	width: 100%;
	border: 2px solid black;
}

section table {
	margin-top: 1.5rem;
	margin-bottom: 2vh;
}

/* -------------------------------------------------------------------------- */
/*                          ESTILOS PARA "COBERTURA"                          */
/* -------------------------------------------------------------------------- */
.seccionCobertura {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	justify-content: flex-start;
	width: 70vw;
	height: 64vh;
}

.seccionCobertura .izquierdo {
	display: flex;
	flex-direction: column;
}

.seccionCobertura .izquierdo .mapa {
	width: 100%;
	height: 50vh;
	margin-top: 1rem;
	border: 2px solid black;
}

.seccionCobertura p {
	margin-bottom: 2rem;
}

.seccionCobertura .derecho {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
}

/* -------------------------------------------------------------------------- */
/*                            ESTILOS PARA "COTIZA"                           */
/* -------------------------------------------------------------------------- */
.seccionCotiza {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	justify-content: center;
	width: 70vw;
	height: 64vh;
}

.seccionCotiza p {
	margin-top: 1rem;
}

.seccionCotiza .izquierdo {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-top: 4rem;
}

.seccionCotiza .derecho {
	display: flex;
	flex-direction: column;
	width: 55%;
}

.formulario {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 60vh;
}

.formulario section {
	display: flex;
	flex-direction: column;
	margin: 0%;
}

/* -------------------------------------------------------------------------- */
/*                            ESTILOS PARA "CONTACTO"                           */
/* -------------------------------------------------------------------------- */
.seccionContacto {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	flex-direction: column;
	justify-content: center;
	width: 70vw;
	height: 64vh;
}

.seccionContacto p {
	margin-top: 1rem;
}

.formularioContacto {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.formularioContacto .izquierdo {
	display: flex;
	align-items: flex-start;
	margin: 5rem 0 4rem 2rem;
	justify-content: space-evenly;
	flex-direction: column;
	width: 50%;
}

.formularioContacto .derecho {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	margin-left: 2rem;
	align-items: flex-start;
	justify-content: space-around;
	width: 50%;
}

textarea {
	border-color: darkgray;
	resize: none;
}


/* -------------------------------------------------------------------------- */
/*                             ESTILOS PARA FOOTER                            */
/* -------------------------------------------------------------------------- */
.seccionFooter {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100vw;
	height: 20vh;
	margin: 0;
	background-image: linear-gradient(to right, #33383b , black);
}

/* ----------------------------- LADO IZQUIERDO ----------------------------- */
.seccionFooter .izquierdo {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-start;
	height: 100%;
	margin-left: 20%
}

.seccionFooter .izquierdo h2{
	color: white;
}

/* --------------------------------- CENTRO --------------------------------- */
.seccionFooter .centro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	margin-left: 8rem;
}

.seccionFooter .centro .footerInterior{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.seccionFooter .centro .footerInterior p, a{
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
}

.iconoCentro{
	width: 3rem;
	height: 3rem;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 50%;
	font-size: 1.5rem;
	color: white;
	padding: 0.7rem;
	margin-right: 1rem;
}

/* ------------------------------ LADO DERECHO ------------------------------ */
.seccionFooter .derecho {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 100%;
	margin-right: 20%;
}

.iconoDerecho{
	width: 4rem;
	height: 3.2rem;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 20%;
	font-size: 2rem;
	color: white;
	padding: 10px;
	margin-left: 2rem;
}


/* -------------------------------------------------------------------------- */
/*                          ESTILOS PARA FORMULARIOS                          */
/* -------------------------------------------------------------------------- */
input[type="text"] {
	color: darkgrey;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 2px solid gray;
	border-radius: 4px;
}

select {
	color: darkgray;
	width: 40%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 2px solid gray;
	border-radius: 4px;
}

input[type="email"] {
	color: darkgrey;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	border: 2px solid gray;
	border-radius: 4px;
}

.boton {
	width: 6rem;
	background-color: orange;
	border-radius: 10px;
	color: black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
}

.boton:hover {
	color: white;
	background-color: orangered;
	transform: skewY(-5deg);
}
