/* -------------------------------------------------------------------------- */
/*                          ESTILOS PARA "COBERTURA"                          */
/* -------------------------------------------------------------------------- */
.seccionCobertura {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	justify-content: flex-start;
	width: 70vw;
	height: 64vh;
}

.seccionCobertura .izquierdo {
	display: flex;
	flex-direction: column;
}

.seccionCobertura .izquierdo .mapa {
	width: 100%;
	height: 50vh;
	margin-top: 1rem;
	border: 2px solid black;
}

.seccionCobertura p {
	margin-bottom: 2rem;
}

.seccionCobertura .derecho {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
}
