/* -------------------------------------------------------------------------- */
/*                          ESTILOS PARA "COBERTURA"                          */
/* -------------------------------------------------------------------------- */
.section__seccionCobertura {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 70vw;
	height: 64vh;
	padding: 2rem;
}

.section__seccionCobertura p {
	margin-bottom: 2rem;
}

.mapa {
	margin-top: 1rem;
}

.mapa--movil {
	margin-top: 1rem;
	width: 50vw;
	height: 30vh;
}

#map {
	height: 100%;
	width: 100%;
}

.texto {
	margin-top: 2rem;
}

.seccionCobertura__row{
	height: 100%;
}