/* -------------------------------------------------------------------------- */
/*                          ESTILOS PARA "COBERTURA"                          */
/* -------------------------------------------------------------------------- */
.section__seccionCobertura {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 70vw;
	height: 64vh;
	padding: 2rem;
}

.section__seccionCobertura p {
	margin-bottom: 2rem;
}

.mapa{
	width: 100%;
	margin-top: 1rem;
}

	.texto{
		margin-top: 2rem;
	}
