/* -------------------------------------------------------------------------- */
/*                          ESTILOS PARA "COBERTURA"                          */
/* -------------------------------------------------------------------------- */
.section__seccionCobertura {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	justify-content: flex-start;
	width: 70vw;
	height: 64vh;
}

.section__seccionCobertura--izquierdo {
	display: flex;
	flex-direction: column;
	.mapa {
		width: 100%;
		height: 50vh;
		margin-top: 1rem;
		border: 2px solid black;
	}
}

.section__seccionCobertura p {
	margin-bottom: 2rem;
}

.section__seccionCobertura--derecho {
	display: flex;
	flex-direction: column;
	margin-top: 5rem;
}
