/* -------------------------------------------------------------------------- */
/*                            ESTILOS PARA "CONTACTO"                           */
/* -------------------------------------------------------------------------- */
.section__seccionContacto {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	flex-direction: column;
	justify-content: center;
	width: 70vw;
	height: 64vh;
}

.section__seccionContacto p {
	margin-top: 1rem;
}

.formularioContacto {
	display: flex;
	flex-direction: row;
	height: 90%;
	textarea {
		border-color: darkgray;
		resize: none;
	}
}

.formularioContacto--izquierdo {
	display: flex;
	align-items: flex-start;
	margin: 4rem 0 4rem 2rem;
	justify-content: space-evenly;
	flex-direction: column;
	width: 50%;
}

.formularioContacto--derecho {
	display: flex;
	flex-direction: column;
	margin-top: 3rem;
	margin-left: 1rem;
	align-items: flex-start;
	justify-content: space-around;
	width: 50%;
}
