/* -------------------------------------------------------------------------- */
/*                            ESTILOS PARA "COTIZA"                           */
/* -------------------------------------------------------------------------- */
.seccionCotiza {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	justify-content: center;
	width: 70vw;
	height: 64vh;
}

.seccionCotiza p {
	margin-top: 1rem;
}

.seccionCotiza .izquierdo {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-top: 4rem;
}

.seccionCotiza .derecho {
	display: flex;
	flex-direction: column;
	width: 55%;
}

.formulario {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 60vh;
}

.formulario section {
	display: flex;
	flex-direction: column;
	margin: 0%;
}
