/* -------------------------------------------------------------------------- */
/*                            ESTILOS PARA "COTIZA"                           */
/* -------------------------------------------------------------------------- */
.section__seccionCotiza {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	justify-content: center;
	width: 70vw;
	height: 64vh;
	.formulario {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 60vh;
		.formulario section {
			display: flex;
			flex-direction: column;
			margin: 0%;
		}
	}
}

.section__seccionCotiza p {
	margin-top: 1rem;
}

.section__seccionCotiza--izquierdo {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-top: 4rem;
}

.section__seccionCotiza--derecho {
	display: flex;
	flex-direction: column;
	width: 55%;
}

textarea{
	width: 100%;
}