/* -------------------------------------------------------------------------- */
/*                          ESTILOS PARA FORMULARIOS                          */
/* -------------------------------------------------------------------------- */
input[type="text"] {
	color: darkgrey;
	width: 100%;
	padding: 6px 10px;
	margin: 8px 0;
	border: 2px solid gray;
	border-radius: 4px;
}

select {
	color: darkgray;
	width: 40%;
	padding: 6px 10px;
	margin: 8px 0;
	border: 2px solid gray;
	border-radius: 4px;
}

input[type="email"] {
	color: darkgrey;
	width: 100%;
	padding: 6px 10px;
	margin: 8px 0;
	border: 2px solid gray;
	border-radius: 4px;
}

.boton {
	width: 6rem;
	background-color: orange;
	border-radius: 10px;
	color: black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	margin-top: 20px;
}

.boton:hover {
	color: white;
	background-color: orangered;
	transform: skewY(-5deg);
}
