/* -------------------------------------------------------------------------- */
/*                           ESTILOS PARA "NOSOTROS"                          */
/* -------------------------------------------------------------------------- */
.section__seccionNosotros {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 70vw;
	height: 64vh;
	padding: 1rem;
}

.imagen:hover {
	transform: skewY(-5deg) scale(0.8);
}

.section__seccionNosotros p {
	margin: 0 1rem 2rem 0;
	hyphens: none;
}
