/* -------------------------------------------------------------------------- */
/*                          ESTILOS PARA "SERVICIOS"                          */
/* -------------------------------------------------------------------------- */
.section__seccionServicios {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
	width: 70vw;
	height: 64vh;
}

.section__seccionServicios--izquierdo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section__seccionServicios p {
	font-style: italic;
}

.section__seccionServicios--derecho {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 0.5vw;
}

th {
	background-color: orange;
	font-family: "Poppins", sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 1vw;
}

td {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 0.8vw;
}

.video {
	width: 100%;
	border: 2px solid black;
}

.section__seccionServicios table {
	margin-top: 1.5rem;
	margin-bottom: 2vh;
}
