@import "comunes.scss";
@import "navegacion.scss";
@import "texto.scss";
@import "inicio.scss";
@import "nosotros.scss";
@import "servicios.scss";
@import "cobertura.scss";
@import "cotiza.scss";
@import "contacto.scss";
@import "footer.scss";
@import "formularios.scss";

